<div class="demoComponent">
  <h1>{{ title }}</h1>

  <p class="js-home">Go Home</p>
  <p class="js-click">Go To About &amp; Init Sub Component </p>
  <p class="js-product">Go To Product</p>
  <p class=""><a href="#products/15">Link To Product</a></p>
  <p class=""><a href="#xxx">Link To Not Found</a></p>

  <div data-component="subComponent"></div>
</div>
