/* —- Colors -— */

$white: #FFF;
$black: #000;
$error: #F00;
$lightGray: #cecece;
$gray: #ccc;



/* —- Breakpoints -— */

$phoneSmall: 320px;
$phoneLarge: 568px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1200px;
$desktopWide: 1600px;


$spacing: 12px;
