// ## Requires compass !

/*
    Ui images and hi-dpi management
-----------------------------------------------------------------------*/
@mixin hi-dpi {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
        @content;
    }
}

@mixin icon-retinaImage($id, $mimetype: image/png) {

    // "inline-image" to base64 encode the image.
    background-image: inline-image("#{$id}.png", $mimetype);

    // "image-width" and "iamge-height" calculate the image dimentions.
    background-size: image-width("#{$id}.png") image-height("#{$id}.png");
    background-repeat: no-repeat;

    width: image-width("#{$id}.png");
    height: image-height("#{$id}.png");

    text-indent: -9000px;

    @include hi-dpi {
        // "inline-image" to base64 encode the @2x image.
        background-image: inline-image("#{$id}@2x.png", $mimetype);
    }
}



@mixin icon-image($id, $mimetype: image/png) {

    // "inline-image" to base64 encode the image.
    background-image: inline-image("#{$id}.png", $mimetype);

    // "image-width" and "iamge-height" calculate the image dimentions.
    background-size: 100%;
    background-repeat: no-repeat;

    text-indent: -9000px;
}
